<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="checkbox" id="checkbox1">
<label for="checkbox1">1</label><br>

<input type="checkbox" id="checkbox2">
<label for="checkbox2">2</label><br>

<input type="checkbox" id="checkbox3">
<label for="checkbox3">3<label><br>

<!-- Pole select -->
<label>Wybierz</label>

<select >
    <option> 1</option>
    <option> 2</option>
    <option> 3</option>
    <option> 4</option>
</select>
</body>
</html>