<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    Home...
</h1>

<form action="#" method="post">
            <label for="name">Podaj oczekiwaną długość hasła:</label>
            <input type="text" id="name" name="imie uzytkownika">

<div>
                <p>Uwzględnić wielkie litery?</p>
                <label for="checkbox1">Uwzględnić.</label>
                <input type="checkbox" name="opt" id="checkbox1">
</div>
<div>
                <p>Uwzględnić liczby?</p>
                <label for="checkbox2">Uwzględnić.</label>
                <input type="checkbox" name="opt" id="checkbox2">
</div>
<div>
                <p>Uwzględnić znaki specjalne?</p>
                <label for="checkbox3">Uwzględnić.</label>
                <input type="checkbox" name="opt" id="checkbox3">
</div>

</body>
</html>