<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hasła</title>
</head>
<body>
<h1>Generator haseł</h1>
<form method="post" action="{% url 'password' %}">
    <select required>
        <option value="" selected disabled>Wybierz długość</option>
        <option value="6">6 znaków</option>
        <option value="7">7 znaków</option>
        <option value="8">8 znaków</option>
        <option value="9">9 znaków</option>
    </select>
    <input type="checkbox" id="checkbox1">
    <label for="checkbox1">Wielkie litery</label>
    <input type="checkbox" id="checkbox2">
    <label for="checkbox2">Liczby</label>
    <input type="checkbox" id="checkbox3">
    <label for="checkbox3">Znaki specjalne</label>
    {% csrf_token %}
    <button type="submit">Wygeneruj hasło</button>
</form>
</body>
</html>